version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "09:00"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "deps(go)"
    labels:
      - "area:deps"
    pull-request-branch-name:
      separator: "-"
    cooldown:
      semver-major-days: 14
      semver-minor-days: 7
      semver-patch-days: 2
    groups:
      go-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "09:00"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "deps(actions)"
    labels:
      - "area:deps"
    pull-request-branch-name:
      separator: "-"
    groups:
      github-actions:
        patterns:
          - "*"
