name: TruffleHog

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  scan-secrets:
    name: Secrets Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

	  - name: Scan for secrets wih TruffleHog
        uses: trufflesecurity/trufflehog@main
        with:
          extra_args: --results=verified,unknown
